@import "tailwindcss";
@import "../styles/typography.css";
@import "../styles/color.css";
@import "../styles/radius.css";
@import "../styles/grid.css";
@import "../styles/shadow.css";

@layer base {
  body {
    font-family: "Pretendard-Variable", sans-serif !important;
    -webkit-font-smoothing: antialiased;
  }
}

:is(
    button,
    a[href],
    summary,
    label[for],
    [role="button"],
    input[type="button"],
    input[type="submit"],
    input[type="reset"]
  ):not(:disabled):not([aria-disabled="true"]) {
  cursor: pointer !important;
}

:is(
  button,
  [role="button"],
  input,
  textarea,
  select,
  input[type="button"],
  input[type="submit"],
  input[type="reset"]
):disabled,
:is(button, [role="button"])[aria-disabled="true"] {
  cursor: default !important;
}
