@theme {
  /* BlueScale */
  --color-blue-100: #eff0ff;
  --color-blue-200: #e3e5ff;
  --color-blue-300: #cbceff;
  --color-blue-400: #b2b7ff;
  --color-blue-500: #8990ff;
  --color-blue-600: #6c6aff;
  --color-blue-700: #5a55ff;
  --color-blue-800: #504ef2;

  /* GreenScale */
  --color-green-100: #f9fdee;
  --color-green-200: #eefacd;
  --color-green-300: #def69c;
  --color-green-400: #c8f05a;
  --color-green-500: #b9eb30;
  --color-green-600: #a6e007;

  /* RedScale */
  --color-red-100: #fff2f2;
  --color-red-200: #ffe9e9;
  --color-red-300: #ffdcdc;
  --color-red-400: #ff4545;

  /* Common */
  --color-white: #ffffff;

  /* Grayscale */
  --color-gray-95: #f9f9fb;
  --color-gray-100: #f6f6f9;
  --color-gray-200: #eaeaee;
  --color-gray-300: #c5c5c9;
  --color-gray-400: #9a9aa0;
  --color-gray-500: #7b7b80;
  --color-gray-600: #585b60;
  --color-gray-700: #3e3e44;
  --color-gray-800: #2f2f35;
  --color-gray-900: #212128;

  /* 변수를 직접 등록하거나, 클래스 사용 시 /10%를 붙여서 쓸 수 있습니다 */
  --color-gray-alpha-50: color-mix(in srgb, #212128 5%, transparent);
  --color-gray-alpha-100: color-mix(in srgb, #212128 10%, transparent);
  --color-gray-alpha-200: color-mix(in srgb, #212128 20%, transparent);
  --color-gray-alpha-300: color-mix(in srgb, #212128 30%, transparent);
  --color-gray-alpha-400: color-mix(in srgb, #212128 40%, transparent);
  --color-gray-alpha-500: color-mix(in srgb, #212128 50%, transparent);
  --color-gray-alpha-600: color-mix(in srgb, #212128 60%, transparent);
  --color-gray-alpha-700: color-mix(in srgb, #212128 70%, transparent);
  --color-gray-alpha-800: color-mix(in srgb, #212128 80%, transparent);
  --color-gray-alpha-900: color-mix(in srgb, #212128 90%, transparent);

  /* Fill */
  --color-fill-primary: var(--color-blue-600);
  --color-fill-primary-assistive: var(--color-blue-100);

  --color-fill-secondary: var(--color-green-600);
  --color-fill-secondary-assistive: var(--color-green-200);

  --color-fill-tertiary: var(--color-gray-800);
  --color-fill-tertiary-assistive: var(--color-gray-500);

  --color-fill-quaternary: var(--color-white);
  --color-fill-quaternary-assistive: var(--color-gray-95);

  --color-fill-hover: var(--color-gray-alpha-50);
  --color-fill-disabled: var(--color-gray-200);

  --color-fill-fail-strong: var(--color-red-400);
  --color-fill-fail: var(--color-red-100);
  --color-fill-fail-hover: var(--color-red-200);

  /* Text */
  --color-text-title: var(--color-gray-800);
  --color-text-description: var(--color-gray-600);
  --color-text-caption: var(--color-gray-400);
  --color-text-disabled: var(--color-gray-300);
  --color-text-white: var(--color-white);

  --color-text-primary-strong: var(--color-blue-700);
  --color-text-primary: var(--color-blue-600);
  --color-text-primary-assistive: var(--color-blue-400);

  --color-text-fail: var(--color-red-400);
  --color-text-complete: var(--color-green-600);

  /* Icon */
  --color-icon-primary-strong: var(--color-blue-700);
  --color-icon-primary: var(--color-blue-600);

  --color-icon-heavy: var(--color-gray-800);
  --color-icon-strong: var(--color-gray-700);
  --color-icon-default: var(--color-gray-500);
  --color-icon-assistive: var(--color-gray-300);
  --color-icon-weak: var(--color-gray-200);
  --color-icon-white: var(--color-white);

  /* Line */
  --color-line-primary-strong: var(--color-blue-700);
  --color-line-primary: var(--color-blue-600);
  --color-line-primary-assistive: var(--color-blue-400);

  --color-line-neutral-strong: var(--color-gray-300);
  --color-line-neutral: var(--color-gray-200);

  --color-line-fail: var(--color-red-400);
  --color-line-fail-assistive: var(--color-red-300);

  --color-line-complete: var(--color-green-600);
  --color-line-complete-assistive: var(--color-green-100);

  /* Background */
  --color-bg: var(--color-gray-100);
  --color-bg-white: var(--color-white);

  --color-bg-contents: var(--color-white);
  --color-bg-contents-assistive: var(--color-gray-95);

  --color-bg-shadow-strong: var(--color-gray-alpha-100);
  --color-bg-shadow: var(--color-gray-alpha-50);
  --color-bg-lightbox: var(--color-gray-alpha-500);
}
